@import "variaveis.scss";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  max-width: 300px;
  width: 300px;
  padding: 40px 20px 20px 20px;
  background-color: $cor-fundo;
  overflow: auto;

  .card {
    height: 15vh;
    position: relative;
    overflow: hidden;

    .artista {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10px 30px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.4;
      z-index: 0;
      width: 100%;
      height: 100%;
    }

    span {
      color: $branco-transparente-70;
      text-shadow: 2px 2px 10px $preto;
    }
  }

  .player {
    flex-grow: 1;
  }
}
