@import "variaveis.scss";

div {
  padding: 5px 30px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  color: $cor-primaria;
  border-top: 1px solid $branco-transparente-20;

  img {
    flex-grow: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  span {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .icone {
    flex-grow: 0;
    cursor: pointer;
  }
}
