@import "table.scss";
@import "variaveis.scss";

:host {
  display: flex;
  justify-content: space-between;

  ::-webkit-scrollbar {
    width: 5px;

    &-thumb {
      background-color: rgba($cor-primaria, 0.5);
      border-radius: 10px;
    }

    &-track {
      background: transparent;
    }
  }

  .minhasMusicas {
    padding: 0px 50px;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .topArtista {
      top: 0;
      height: 40vh;
      width: 100%;
      cursor: pointer;

      .d-block {
        display: block;
      }
    }
  }

  .painelDireito {
    height: 100vh;
  }
}
