@import "variaveis.scss";

.container {
  width: 100%;
  height: 100%;
  max-width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .image {
    height: 65%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    // opacity: 0.7;
  }

  .controles {
    padding: 10px;
    flex-grow: 1;

    span {
      color: $branco-transparente-70;
      font-size: 0.9rem;
      font-weight: 700;
    }

    .botoes {
      width: 100%;
      height: 100%;
      max-height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 60px;

      * {
        color: $cor-primaria;
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
  }
}
