@import "variaveis.scss";

// :host {
//   display: flex;
//   justify-content: center;

.card {
  height: 20vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;

  .artista {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  span {
    color: $branco-transparente-70;
    text-shadow: 2px 2px 10px $preto;
  }
}
// }
