@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@import "variaveis.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;
  color: white;
  overflow: hidden;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.titulo {
  color: $cor-primaria;
  display: block;
  font-weight: 700;

  &Bg {
    @extend .titulo;
    font-size: 2.2rem;
  }

  &Md {
    @extend .titulo;
    font-size: 1.4rem;
  }
}

.mt {
  // @for $i from 1 to 10 {
  //   &-#{ $i } {
  //     margin-top: #{ i }vh;
  //   }
  // }
  &-1 {
    margin-top: 1vh;
  }
  &-2 {
    margin-top: 2vh;
  }
  &-3 {
    margin-top: 3vh;
  }
  &-4 {
    margin-top: 4vh;
  }
}

.card {
  box-shadow: 0px 0px 15px $branco-transparente-03;
  background-color: $cor-fundo2;
  border-radius: 10px;
}

.p-20 {
  padding: 20px;
}
