$cor-fundo: #000;
$cor-fundo2: #212121;
$cor-primaria: #1ed760;

$branco-transparente-30: #ffffff9d;
$branco-transparente-20: #ffffff41;
$branco-transparente-70: #ffffffb3;
$branco-transparente-03: #ffffff1f;

$preto: $cor-fundo2;
